.friendContainer {
  height: 10em;
  margin-bottom: 10%;
}

#friendContent {
  height: 8em;
  overflow: auto;
  border: 1px solid #000;
  display: flex;
}

.friendCard {
  display: flex;
  border: 1px solid #000;
  margin: 1em;
  width: 30%;
  padding: 1em;
}

.friendIcon {
  background-color: chocolate;
}

.friend-modal {
  display: none;
  position: fixed;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}

#friendResults {
  height: 10em;
  width: 100%;
  overflow: auto;
}

.friendSearchCard {
  display: flex;
  border: 1px solid #000;
  margin: 1em;
  padding: 1em;
}

.searchFriendInfo {
  text-align: left;
  width: 32%;
}
